body {
  /*
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  */
  font: 14px  "YuGothic",'Yu Gothic',monospace;
}

a {
  color: #00B7FF;
}

h1{
	font-family:'Yu Mincho';
}


textarea{
  resize: none;
}
#codeText{
  resize: auto;  
}